{% extends "base.html" %}

{% block main %}
<div class="form-container">
    <h1>Add New Property </h1>
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('create_properties') }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-form">
            {{ form.title.label }} {{ form.title(class="form-control") }}

        </div>
        <div class="form-form">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="row">
            <div class="col">
                {{ form.num_of_bedrooms.label }} {{ form.num_of_bedrooms(class="form-control") }}
            </div>
            <div class="col">
                {{ form.num_of_bathrooms.label }} {{ form.num_of_bathrooms(class="form-control")}}    
            </div>

        </div>
        <div class="row">
            <div class="col">
                {{ form.price.label }} {{ form.price(class="form-control") }}    
            </div>
            <div class="col">
                {{ form.type_place.label }} {{ form.type_place(class="form-control")}}    
            </div>

        </div>
        <div class="form-form">
            {{ form.location.label }} {{ form.location(class="form-control") }}    
        </div>
        <div class="form-form">
            {{ form.image.label }} {{ form.image(class="form-control") }}    
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Add Property</button>

    </form>  

</div>


{% endblock %}